html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height:1.5;
	font-size:1em;
}

body {
	text-align: center;
	display:flex;
	align-items: center;
	justify-content: center;
}

html, body {
	height:100%;
}

.input {
  outline:none;
	line-height:inherit;
	color:#2e3750;
	min-width:12em;
	font-size: 1.5em;
	padding: 8px 16px;	
  text-align:center;
  border: 2px solid #DDDDDD;
  border-radius:210px;
}